@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background: #111827;
    color: #f3f4f6;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px;
}


main.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


header h1 {
    margin: 0;
}


article {
    background: #1f2937;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
}


input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #374151;
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}


button {
    padding: 12px 18px;
    background: #2563eb;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #1d4ed8;
}